

#logo
  %h1 I Plan
  %br
  %h1 Websites
#title
  %h1 quote
%hr

%br
%br
%br
%br
%br
%br


#client
  %p
    %span 
      %strong Perte de Signal
    %span 2244, rue Larivière, Montréal, QC 
    %span H2K 4P8, Canada
    %span +1 514-273-4813 ‎
    %br
    %span 14 Août 2011 ‎

%br
%br
%br
%br
%br
%br



%h1 Bonjour,
%hr
%p 
  ▪	Why you’re sending the proposal
  ▪	What the proposal is for
  ▪	What will be done next and when
  ▪	Any differences between what the client asked for, and what you have proposed




%h1 Quoi?
%hr
%p 
  ▪	Why you’re sending the proposal


.clear
.container_12
  .grid_4
    1111jdsf dsjd sf dsjdsf dsjd sf dsjds f dsjdsf d sf4jdsf dsjd sf dsjdsf dsjd sf dsjds f dsjdsf d sf4jdsf dsjd sf dsjdsf dsjd sf dsjds f dsjdsf d sf4jdsf dsjd sf dsjdsf dsjd sf dsjds f dsjdsf d sf4jdsf dsjd sf dsjdsf dsjd sf dsjds f dsjdsf d sf4jdsf dsjd sf dsjdsf dsjd sf dsjds f dsjdsf d sf4jdsf dsjd sf dsjdsf dsjd sf dsjds f dsjdsf d sf4jdsf dsjd sf dsjdsf dsjd sf dsjds f dsjdsf d sf4jdsf dsjd sf dsjdsf dsjd sf dsjds f dsjdsf d sf4jdsf dsjd sf dsjdsf dsjd sf dsjds f dsjdsf d sf
  .grid_4
    4jdsf dsjd sf dsjdsf dsjd sf dsjds f dsjdsf d sf4jdsf dsjd sf dsjdsf dsjd sf dsjds f dsjdsf d sf4jdsf dsjd sf dsjdsf dsjd sf dsjds f dsjdsf d sf4jdsf dsjd sf dsjdsf dsjd sf dsjds f dsjdsf d sf4jdsf dsjd sf dsjdsf dsjd sf dsjds f dsjdsf d sf4jdsf dsjd sf dsjdsf dsjd sf dsjds f dsjdsf d sf4jdsf dsjd sf dsjdsf dsjd sf dsjds f dsjdsf d sf4jdsf dsjd sf dsjdsf dsjd sf dsjds f dsjdsf d sf
  .grid_4
    4jdsf dsjd sf dsjdsf dsjd sf dsjds f dsjdsf d sf4jdsf dsjd sf dsjdsf dsjd sf dsjds f dsjdsf d sf4jdsf dsjd sf dsjdsf dsjd sf dsjds f dsjdsf d sf4jdsf dsjd sf dsjdsf dsjd sf dsjds f dsjdsf d sf4jdsf dsjd sf dsjdsf dsjd sf dsjds f dsjdsf d sf4jdsf dsjd sf dsjdsf dsjd sf dsjds f dsjdsf d sf4jdsf dsjd sf dsjdsf dsjd sf dsjds f dsjdsf d sf4jdsf dsjd sf dsjdsf dsjd sf dsjds f dsjdsf d sf
  .clear




%h1 Pourquoi?
%hr
%p 
  ▪	Why you’re sending the proposal


%h1 Comment?
%hr
%p 
  ▪	Why you’re sending the proposal

%h1 Combien?
%hr
%p 
  ▪	Why you’re sending the proposal


%h1 Quand?
%hr
%p 
  ▪	Why you’re sending the proposal





%h1 fin